{% extends "base.html" %}
{% block title %} {{ username }}/{{ repository_name }} {% endblock title %}
{% block head %}
{% call super() %}
<script type="module" src="/script/repository.js" defer></script>
<link rel="stylesheet" href="/styles/repository.css">
{% endblock head %}
{% block content %}
<div class="container">
    <header class="repo-header">
        <div class="repo-title">
            <h1>
                <span id="repo_owner" class="owner">{{ username }}</span> /
                <span id="repo_name" class="repo-name">{{ repository_name }}</span>
            </h1>
        </div>
        <div class="repo-actions">
            <button class="btn primary">Clone</button>
        </div>
    </header>
    
    <main class="repo-content">
        
        <div class="branch-selector">
            <button id="branch-dropdown-toggle" class="btn branch">{{ overview.head_branch_name }} <i class="icon dropdown"></i></button>
            <ul id="branch-dropdown-menu" class="dropdown-menu" style="display: none;">
                
            </ul>
            <div class="commit-info">
                <span class="last-commit">{{ overview.latest_commit.commit_message }}</span>
                <span class="commit-time">{{ overview.latest_commit.commit_time }}</span>
            </div>
        </div>

        <!-- File Browser -->
        <div class="file-browser">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last commit message</th>
                    <th>Last updated</th>
                </tr>
                </thead>
                <tbody>
                {% for file in overview.files %}
                <tr>
                    <td>{{ file.file_name }}</td>
                    <td>{{ file.last_commit_message }}</td>
                    <td>{{ file.last_commit_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock content %}